#openModal {
   background-color: #007BFF;
   color: #fff;
   border: none;
   border-radius: 20px;
   padding: 10px 15px;
   cursor: pointer;
   display: inline;
   justify-content: center;
   align-items: center;
   position: absolute;
   padding: 25px 60px;
}

#openModal:hover {
   background-color: #0056b3;
}