@import './partials/navbar.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#desktop-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background: yellow;
}