.div-icon {
   width: 100%;
   position: relative;
   max-width: 100%;
   overflow: hidden;
   height: 2px;
   background-color: #1e1f27;
   max-width: 1300px;
}

#divider {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   background: #F5F5F5;
}

@media screen and (max-width: 1400px) {
   #divider {
      padding: 0px 16px;
   }
   
}