#adopt-info-block {
   width: 100%;
   position: relative;
   background-color: #f5f5f5;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 80px 0px 120px;
   box-sizing: border-box;
   color: #1e1f27;
   font-family: "Poppins", sans-serif;
}

#adopt-info-block .main-content {
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 24px;
}

#title-adopt-info {
   width: 100%;
   position: relative;
   font-size: 56px;
   letter-spacing: -0.02em;
   display: inline-block;
   text-align: center;
}


#adopt-info-block .content-block {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 40px;
}


#adopt-info-block .text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 20px;
   line-height: 160%;
}


#adopt-info-block .text-block h3 {
   width: 100%;
   position: relative;
   font-size: 32px;
   display: inline-block;
   text-align: left;
}

#adopt-info-block .text-block {
   height: 100%;
   flex: 1;
   max-width: 584px;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 32px;
   font-size: 32px;
   line-height: 160%;
}

#adopt-info-block .list-regulation li {
   font-family: "Inter", sans-serif;
   font-size: 24px;
   font-weight: 500;
   color: #37383f;
   margin-bottom: 16px;
   line-height: 160%;
}

#adopt-info-block .adopt-button {
   position: relative;
   border-radius: 32px;
   background-color: #1e1f27;
   width: 217px;
   height: 64px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 16px 32px;
   box-sizing: border-box;
   font-size: 20px;
   color: #fff;
}

/*------inicio imagem------*/
#container-adopt {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

#container-adopt figure.image {
   width: 584px;
   height: 616px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#container-adopt .image img {
   position: absolute;
}

#container-adopt .img-dog {
   position: absolute;
   border-radius: 600px;
   width: 377px;
   height: 584px;
   background-color: #5758F1;
   overflow: hidden;
   display: flex;
   align-items: start;
   justify-content: center;

}

#container-adopt .img-dog img {
   position: relative;
   width: 530px;
   transform: translate(-4%, 2%);
}

#container-adopt .img-cat {
   position: relative;
   width: 268px;
   height: 268px;
   border-radius: 24px 134px 134px 134px;
   background-color: #f1d06e;
   overflow: hidden;
   object-fit: cover;
   border: solid 6px #f5f5f5;
   transform: translate(150.25px, 160px);
}

#container-adopt .img-collar {
   position: relative;
   height: 152.3px;
   transform: translate(-46px, 50px);
}

#container-adopt .img-bone {
   position: relative;
   height: 108.2px;
   transform: translate(-200px, -230px);
}

/*------fim imagem------*/

/*@media only screen and (max-width: 768px) {
   #adopt-info-block {
      padding: 32px;
   }

   #container-adopt {
      width: 100%;
      display: flex;
   }

}*/