/* Seção de Estatísticas */
#stats-block {
   width: 100%;
   position: relative;
   background-color: #1e1f27;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 80px 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

#stats-block .main-content {
   width: 100%;
   max-width: 1208px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 80px;
}

#stats-block .text-information {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 80px;
}

#stats-block .with-your-help {
   color: #fff;
}

#stats-block .stats {
   width: 100%;
   max-width: 1208px;
   display: flex;
   gap: 40px;
}

#stats-block .stats .animals-rescued {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 376px;
}

#stats-block .data-values {
   font-size: 64px;
   letter-spacing: -0.02em;
   line-height: 120%;
   color: #f8db46;
   text-align: center;
}

#stats-block .data-text {
   font-size: 32px;
   letter-spacing: -0.02em;
   line-height: 160%;
   color: #fff;
   text-align: center;
}

#stats-block .carousel {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 80px;
}

#stats-block .carousel-select {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   justify-content: space-between;
}

#stats-block .select {
   width: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

#stats-block .icon {
   width: 24px;
   height: 24px;
}

#stats-block .arrow {
   width: 44px;
   height: 44px;
   border-radius: 21px;
   background-color: #f5f5f5;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
}

#dots {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

#dots .ellipse, #dots .ellipse-checked {
   width: 16px;
   height: 16px;
   border-radius: 50%;
}

#dots .ellipse {
   background-color: #ffffff33;
}

#dots .ellipse-checked {
   background-color: #fff;
}

#stats-block .img-icon {
   width: 250px;
   height: 250px;
   object-fit: cover;
}


#stats-block .div-img1 {
   border-radius: 32px;
   background-color: #f1d06e;
}

#stats-block .div-img2 {
   border-radius: 32px 250px 250px 250px;
   background-color: #04c27f;
}

#stats-block .div-img3 {
   border-radius: 32px;
   background-color: #f5f5f5;
}

#stats-block .div-img4 {
   border-radius: 250px 32px 250px 250px;
   background-color: #5758f1;
}

@media only screen and (max-width: 1200px) {
   #stats-block .select {
      flex-direction: column;
      gap: 20px;
   }
}

/* Media Queries para Responsividade */
@media only screen and (max-width: 768px) and (min-width: 480px) {
   #stats-block {
      padding: 80px 32px;
   }

   #stats-block .with-your-help {
      font-size: 48px;
      line-height: 110%;
   }

   #stats-block .stats {
      flex-direction: column;
      gap: 40px;
   }

   #stats-block .stats .animals-rescued {
      max-width: none;
   }

   #stats-block .data-values {
      font-size: 48px;
   }

   #stats-block .data-text {
      font-size: 24px;
   }

   #stats-block .select {
      flex-direction: column;
      gap: 20px;
   }

   #stats-block .carousel-select {
      flex-direction: row;
      gap: 20px;
   }

   #stats-block .arrow {
      width: 36px;
      height: 36px;
   }

   #stats-block .img-icon {
      width: 200px;
      height: 200px;
   }
}

@media only screen and (max-width: 480px) {
   #stats-block .with-your-help {
      font-size: 36px;
      line-height: 100%;
      word-wrap: break-word;
   }

   #stats-block .data-values {
      font-size: 36px;
   }

   #stats-block .data-text {
      font-size: 18px;
   }

   #stats-block .img-icon {
      width: 150px;
      height: 150px;
   }

   #stats-block .arrow {
      width: 32px;
      height: 32px;
   }
}