/* Seção de Estatísticas */
#stats-block {
   width: 100%;
   position: relative;
   background-color: #1e1f27;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 80px 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

#stats-block .main-content {
   width: 100%;
   max-width: 1208px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 80px;
}

#stats-block .text-information {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 80px;
}

#stats-block .with-your-help {
   color: #fff;
}

#stats-block .stats {
   width: 100%;
   max-width: 1208px;
   display: flex;
   gap: 40px;
}

#stats-block .stats .animals-rescued {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 376px;
}

#stats-block .data-values {
   font-size: 64px;
   letter-spacing: -0.02em;
   line-height: 120%;
   color: #f8db46;
   text-align: center;
}

#stats-block .data-text {
   font-size: 32px;
   letter-spacing: -0.02em;
   line-height: 160%;
   color: #fff;
   text-align: center;
}

#carrosel-select {
   max-width: 1100px;
   width: 100%;
   position: relative;
}

#carrosel-select .carrosel {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: calc((100%/4) - 12px);
   gap: 16px;
   overflow: hidden;
}

#carrosel-select i {
   height: 44px;
   width: 44px;
   background: #ffffff;
   text-align: center;
   line-height: 44px;
   border-radius: 50%;
   cursor: pointer;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   font-size: 24px;
   box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

#carrosel-select i:first-child {
   left: -22px;
}

#carrosel-select i:last-child {
   right: -22px;
}


#carrosel-select .carrosel :where(.card, .img) {
   display: flex;
   align-items: center;
   justify-content: center;
}

#carrosel-select .carrosel .card {
   height: 250px;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}


#carrosel-select .card img {
   width: 250px;
   height: 250px;
   object-fit: cover;

}

#stats-block .carousel-select {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   justify-content: space-between;
}



#stats-block .icon {
   width: 24px;
   height: 24px;
}

#stats-block .arrow {
   width: 44px;
   height: 44px;
   border-radius: 21px;
   background-color: #f5f5f5;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
}

#dots {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

#dots .ellipse, #dots .ellipse-checked {
   width: 16px;
   height: 16px;
   border-radius: 50%;
}

#dots .ellipse {
   background-color: #ffffff33;
}

#dots .ellipse-checked {
   background-color: #fff;
}

#stats-block .div-img1 {
   border-radius: 32px;
   background-color: #f1d06e;
}

#stats-block .div-img2 {
   border-radius: 32px 250px 250px 250px;
   background-color: #04c27f;
}

#stats-block .div-img3 {
   border-radius: 32px;
   background-color: #f5f5f5;
}

#stats-block .div-img4 {
   border-radius: 250px 32px 250px 250px;
   background-color: #5758f1;
}

@media only screen and (max-width: 900px) {
   #carrosel-select .carrosel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100%/2) - 9px);
      gap: 16px;
      overflow: hidden;

   }
}


/* Media Queries para Responsividade */
@media only screen and (max-width: 768px) {
   #stats-block {
      padding: 80px 32px;
   }

   #stats-block .with-your-help {
      font-size: 48px;
      line-height: 110%;
   }

   #stats-block .stats {
      flex-direction: column;
      gap: 40px;
   }

   #stats-block .stats .animals-rescued {
      max-width: none;
   }

   #stats-block .data-values {
      font-size: 48px;
   }

   #stats-block .data-text {
      font-size: 24px;
   }
}

@media only screen and (max-width: 600px) {
   #stats-block .with-your-help {
      font-size: 36px;
      line-height: 100%;
      word-wrap: break-word;
   }

   #stats-block .data-values {
      font-size: 36px;
   }

   #stats-block .data-text {
      font-size: 18px;
   }

   #carrosel-select .carrosel {
      grid-auto-columns: 100% ;
   }

}