@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "partials/button_test.css";
@import "partials/styles_modal.css";

body {
   font-family: "Poppins", sans-serif;
   background-color: #f0f0f0;
   height: 100vh;
   margin: 0;
}
