@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
   font-family: "Poppins", sans-serif;
   background-color: #f0f0f0;
   height: 100vh;
   margin: 0;
}

.modal-content {
   width: 100%;
   height: 100%;
   padding: 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.modal-content h2 {
   margin-top: 0;
}

.modal-content label {
   display: flex;
   margin-top: 10px;
   width: 100%;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content select {
   width: 100%;
   padding: 8px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

.modal-content .buttonModal {
   margin-top: 20px;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   background-color: #007BFF;
   color: #fff;
   cursor: pointer;
   width: 100%;
   transition: background-color 0.2s;
}

.modal-content button:hover {
   background-color: #0056b3;
}

.modal-content button:active {
   background-color: #72a7e0;
}

.dob-select {
   display: flex;
   justify-content: space-between;
}

.dob-select select {
   width: 32%;
}

#openModal {
   background-color: #007BFF;
   color: #fff;
   border: none;
   border-radius: 20px;
   padding: 10px 15px;
   cursor: pointer;
   display: inline;
   justify-content: center;
   align-items: center;
   position: absolute;
   padding: 25px 60px;
}

#openModal:hover {
   background-color: #0056b3;
}

#fade, #adopt-modal {
   transition: 0.5s;
   opacity: 1;
   pointer-events: all;
}

#adopt-modal {
   position: fixed;
   z-index: 2;
   background-color: #fff;
   left: 100%;
   top: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
   max-width: 448px;
   width: 100%;
   max-height: 686px;
   height: 100%;
   padding: 0px;
   border-radius: 32px;
   z-index: 1;
}

#fade {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 1;
}

#adopt-modal.show {
   left: 50%;
}

#adopt-modal.hide, #fade.hide {
   opacity: 0;
   pointer-events: none;
}

#adopt-modal.hide {
   left: 100%;
}